@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-card-loading-content {
  height: 100%;
}
/* GENERAL MIDDLE OF DIV */
.middle-div {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

/* LOGO */
.logo {
  height: 32px;
  background: url("./assets/nickj.svg") no-repeat;
  margin: 16px;
  background-position: center;
}

.logo-dark {
  height: 64px;
  background: url("./assets/nickj-dark.svg") no-repeat;
  margin: 16px;
  background-position: center;
}

.logo-mobile {
  height: 32px;
  background: url("./assets/nickj-short.svg") no-repeat;
  margin: 16px;
  background-position: center;
}
